:root{
    --primarycolor: #ff274b;
    --secondarycolor: #f7bcf7;
    --lightcolor: #ffffff;
    --bgcolor1: #171a1c;
    --bgcolor2:#22282a;
    --padding:8%;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor1);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--primarycolor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12 rem;
    cursor: pointer;
}

nav{
    padding: 2.8rem var(--padding) 0 var(--padding) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin:0.8rem 1.5rem;
}

nav ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color: var(--primarycolor);
}

.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.container-texts{
    position: relative;
    bottom: 70px;
}

h1{
    font-size: 4.50rem;
    margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
}

.btn{
    background-color:var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.9s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.social{
    margin-top: 3.5rem;
}

.social img{
    margin-right:2rem;
    width: 2.5rem;
    transition: 0.9s;
}

.social img:hover{
    transform :scale(1.5,1.5);
}
.home .imgss{
    position: relative;
    width: 45%;
    height: 90%;
    align-self: flex-end;

}
.home .imgss img {
    position: absolute;
    bottom: 0%;
    height: 100%;
transition: all 1.5s;
}

.imgss img +img{
    transform:translateX(30%);
}

.imgss:hover .shape{
    bottom:30px;
}

.imgss:hover .pic{
    bottom:-3%;
}

.dev{
    transition: 1s;
}

.dev:hover{
    letter-spacing: 0.8rem;
}

.about{
    background-color: var(--bgcolor2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .imgss{
    width :35%;
}

.about .imgss img{
    width :90%;
    }

.about .container-texts{
    width: 35%;
}

p{

    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h5{
    margin-bottom:1.5rem;
    font-size: 1.37rem;
    letter-spacing: 2px;
}

.services{
    background-color: var(--bgcolor1);
    padding: var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display :flex;
    justify-content: space-between;
}

.card{
    width: 300px;
    background-color: var(--bgcolor2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    transition: 1.5s;
}

.card i {
    color: var(--primarycolor);
    font-size: 3.12rem;
    text-align:center;
    margin: 2rem;
}

.card p{
    color: var(--primarycolor);
}

.card:hover{
    transform: scale(1.1,1.1);
}

.skills{
    background-color: var(--bgcolor2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-images{
    width :35%;
}

.skills .skills-images img{
    width :90%;
    transition: 3s;
    }

.skills .container-skills{
    width: 50%;
}

.content-skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: var(--bgcolor1);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
}

.logo img{
    width: 70%;
}

.logo:hover{
    transform: scale(1.5,1.5);
}

.skillz{
    transition: 1s;
}

.skillz:hover{
    letter-spacing: 0.8rem;
}

footer {
    background-color: var(--bgcolor1);
    padding: var(--padding);
}

footer .container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

footer p {
    color: var(--lightcolor);
    text-align: center;
}
footer .end{
    color: var(--primarycolor);
    text-align: center;
    margin-top: 0.3rem;
}

.skills-images img:hover{
    transform:scale(1.25,1.25);
}